* {
  box-sizing: border-box;
}
body {
  background-color: #f3f1f1;
  font-family: 'Raleway', sans-serif;
  color: #888;
  font-size: 1.1em;
}
.headText {
  font-family: 'Langar', cursive;
  color: #222222;
  font-weight: bold;
  color: #444;
  text-align: center;
}
.logo {
  color: #eee;
}
.navDiv {
  background-color: #444;
}
.navbar-navs li {
  display: inline-block;
  margin: 0px 5px 0px 5px;
}
.firstSection {
  height: 60vh;
  background: #444;
}
.mainText {
  margin-top: -2rem;
  margin-bottom: 1.5rem;
  font-family: 'Langar', cursive;
  color: #222222;
  font-weight: bold;
  color: #444;
  text-align: center;
  color: #eee;
  font-size: 3rem;
}
.subText {
  font-family: 'Raleway', sans-serif;
  color: #888;
  font-size: 1.1em;
  color: #ccc;
  font-size: 1.5rem;
}
.mainButton {
  border-radius: 0.5rem;
  padding: 0.8rem 1.8rem;
  font-size: 1rem;
  border: 1px solid #eee;
  text-transform: uppercase;
  color: #eee;
  background: transparent;
  font-weight: bold;
}
.mainButton:hover {
  background: #333;
  transition: 0.6s ease-in;
}
.menuBtn {
  border: 1px solid #eee;
  text-transform: uppercase;
  color: #eee;
  background: transparent;
  font-weight: bold;
  font-size: 0.9rem;
  padding: 0.5rem 1.2rem;
}
.menuBtn:hover {
  background: #333;
  transition: 0.6s ease-in;
}
.moreButton {
  border: 1px solid #eee;
  text-transform: uppercase;
  color: #eee;
  background: transparent;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.6rem 2rem;
  font-size: 1rem;
  color: #444;
  border-color: #444;
}
.moreButton:hover {
  background: #333;
  transition: 0.6s ease-in;
}
.moreButton:hover {
  color: #eee;
}
.section {
  padding: 5rem 1rem;
}
.viewMoreButton {
  border: 1px solid #eee;
  text-transform: uppercase;
  color: #eee;
  background: transparent;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.7rem 2rem;
  font-size: 1rem;
  background-color: #444;
}
.viewMoreButton:hover {
  background: #333;
  transition: 0.6s ease-in;
}
.viewMoreButton:hover {
  background-color: transparent;
  color: #444;
  border: 1px solid #444;
}
.soc-links a {
  color: #d8d8d8;
}
.soc-links a:hover {
  color: #707070;
}
.soc-links a i {
  font-size: 1.5rem;
}
.likeIcon {
  color: #eee;
  text-shadow: 0 0 2px #000;
  font-size: 25px;
  cursor: pointer;
}
.likeIcon:hover {
  text-shadow: 0 0 16px #08d63c, 0 0 5px #067021;
}
.dislikeIcon {
  color: #eee;
  text-shadow: 0 0 2px #000;
  font-size: 25px;
  cursor: pointer;
}
.dislikeIcon:hover {
  text-shadow: 0 0 16px #d60808, 0 0 5px #f00b0b;
}
.likeSpan {
  position: relative;
  left: 15px;
  top: 5px;
}
.dislikeSpan {
  position: relative;
  right: 15px;
  top: 5px;
}
.green {
  color: #019726;
}
.red {
  color: #cf0707;
}
